[Desktop Entry]
Name=Blender 3D modeller (fullscreen)
Name[ru]=Редактор 3D-моделей Blender (fullscreen)
Name[fr]=Blender - modeleur 3D (plein écran)
Comment=Create and edit 3D models and animations
Comment[ru]=Создание и редактирование трёхмерных моделей и анимаций
Comment[fr]=Création et édition d'objets 3D et animations
Exec=blender -W
Icon=blender.svg
Terminal=false
Type=Application
Categories=Graphics;3DGraphics;
StartupNotify=false
MimeType=application/x-blender
